body, input
{
	color: #EDEBE9;
	background-color: rgb(51, 51, 51);
}

input[type=number]:active, input[type=number]:focus
{
	border-color: rgb(40, 153, 245);
}

button.link, a, a:visited
{
	color: rgb(40, 153, 245);
}
	button.link:hover, a:hover, a:visited:hover
	{
		color: #7DBAE9;
	}

.control.checkbox input + span
{
	border-color: rgb(243, 242, 241);
}
	.control.checkbox input:checked + span
	{
		background-color: rgb(40, 153, 245);
		border-color: rgb(40, 153, 245);
	}
	.control.checkbox:hover input:checked + span
	{
		background-color: rgb(108, 184, 246);
		border-color: rgb(108, 184, 246);
	}
		.control.checkbox:hover input + span:after
		{
			color: rgb(161, 159, 157);
		}
		.control.checkbox input:checked + span:after
		{
			color: rgb(27, 26, 25);
		}